<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='/stylesheets/styleHome.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <ul>
      <% devskills.forEach(function(t) { %>
        <li>
          <form action="/index/<%= t.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
        <a href="/index/<%= t.id %>"><%= t.skill %></a>
        </li>
      <% }); %>
      <hr>
      <form action="/index" method="POST" autocomplete="off">
        <input type="text" name="skill">

        <button type="submit">ADD TO DO</button>
      </form>
    </ul>
  </body>
</html>
