<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel='stylesheet' href='/stylesheets/styleSkillPage.css' />
</head>
<body>
        <h1>To Do List</h1>
        <% if(todos.length) { %> 
        <ul>
          <% todos.forEach(function(t) { %>
            
            <li>
              <form action="/todos/<%= t.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">Delete</button>
              </form>
              <%= t.todo %>
            </li>
          <% }); %>
          <% } else { %> 
            <p>There is nothing To Do yet!</p>
            <% }; %> 
          <hr>
          <form action="/todos" method="POST" autocomplete="off">
            <input type="text" name="todo">
            <!-- name of "todo" will result in a property req.body.todo -->
            <button type="submit">ADD TO DO</button>
          </form>
        </ul>
 
</body>
</html>