<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Dev-Skills</title>
    <link rel='stylesheet' href='/stylesheets/styleSkillPage.css' />
</head>
<body>
    <body>
        <h1>Dev Skills</h1>
        <ul>
          <% devskills.forEach(function(t) { %>
            <li>
              <form action="/devskills/<%= t.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
            <a href="/devskills/<%= t.id %>"><%= t.skill %></a>
                - 
              <%= t.learned ? 'yes' : 'no' %>
            </li>
          <% }); %>
        </ul>
        <a href="/devskills/new">Add Skill</a>
      </body>
</body>
</html>