<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Skills</title>
</head>
<body>
    <h3><%= devskill.skill %></h3>
    <h3>Complete: <%= devskill.level ? 'Yes' : 'No' %></h3>
</body>
</html>